{% block title  %}hello ProductController!{% endblock %}

{% block body %}
<h1> Détails de l'auteur </h1>
 <tr>
    <td> {{ detail.username}}</td>
    <td><img src="/images/Victor-hugo.jpg" width="50" height="50"></td>
    <td> {{ detail.email }}</td>
 </tr>

{% endblock %}